
.header-swapper {
	/*padding: 10px 0;
	color: #000000;
    font-weight: 600;*/
}
.main-swapper {
	padding: 20px 10px;
	background-color: #FFFFFF;
}

.main-swapper a{
	color: #403D39;
}

.base-info-operation {
	margin: 20px 0 10px;
}

.node-manager-panel {
	margin: 20px 0;
}

.node-header {
	margin-bottom: 20px;
}

.node-header ul{
	display: flex;
	justify-content: flex-end;
}

.content-page {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
	padding:10px;
    bottom: 0;
    height: 100%;
    width: 100%;
}