
.header-swapper {
	/*padding: 10px 0;
	color: #000000;
    font-weight: 600;*/
}
.main-swapper {
	padding: 20px 10px;
	background-color: #FFFFFF;
}

.main-swapper a{
	color: #403D39;
}

.base-info-operation {
	margin: 20px 0 10px;
}

.node-manager-panel {
	margin: 20px 0;
}

.node-header {
	margin-bottom: 20px;
}

.node-header ul{
	display: flex;
	justify-content: flex-end;
}

.content-page {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
	padding:10px;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.table-title-span-button {
    border-radius: 0px;
    margin-left: 7px;
}
.background-warning{
    background-color: #f0ad4e !important;
}

.background-danger{
    background-color: #d9534f !important;
}

.background-success{
    background-color: #5cb85c !important;
}
.background-info{
    background-color: #5bc0de !important;
}
.expand-td {
    text-align: center;
    background-color: #e6f6fb;
    color: #5bc0de;
}
.pointer {
    cursor: pointer;
}
.master {
    color: #5cb85c;
}
.slave{

}
.slot{
    margin-left:3px;
    border-radius: 0px;
}
.success {
 color: #5cb85c !important;
}

.option-button {
    margin-right: 5px;
    border-radius: 0px;
}