<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache" />
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
    <meta HTTP-EQUIV="expires" CONTENT="0" />
    <meta http-equiv="Cache" content="no-cache" />
    <title>System Config</title>
    <link rel="stylesheet" type="text/css" href="../../tools/bootstrap-3.3.7/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="../../app/css/supported-command.css"/>
	<script type="text/javascript" src="../../tools/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../tools/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../tools/layer/layer.js"></script>
	<script type="text/javascript" src="../../app/supported-command.js"></script>
</head>
<body>
    <div id="machineInfo" class="body-contain">
        <!-- title-->
        <div class="list-title">
            <div class="text">Machine Config</div>
        </div>
        <!-- body-->
        <div class="data-contain">
                <div class="data-title">
                    <span class="title-text">Shell Command Support</span>
                </div>
                <div class="support-cmd-list">
                	<ul>

					</ul>
                </div>
                <div class="enter-cmd">
                	<div class="col-lg-6 enter-cmd-input">
						<div class="input-group">
							<input type="text" class="form-control one-cmd" placeholder="enter supported command" />
							<span class="input-group-btn">
								<button class="btn btn-default add-btn" type="button">
									Add
								</button>
							</span>
						</div>
					</div>
                </div>
            </div>
    </div>
</body>
</html>